Source: pdiplugin-decl-hdf5
Section: libs
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 11),
  cmake (>= 3.5) <bionic> <nocheck>,
  cmake (>= 3.10) <!bionic !nocheck>,
  libgmock-dev (>= 1.8.0) <!bionic !nocheck>,
  libgtest-dev (>= 1.8.0) <!bionic !nocheck>,
  libhdf5-dev (>= 1.8),
  libhdf5-mpich-dev (>= 1.8),
  libhdf5-openmpi-dev (>= 1.8),
  libpdi-dev,
  mpi-default-dev,
  mpich <!nocheck>,
  openmpi-bin <!nocheck>,
  pdiplugin-mpi-mpich <!nocheck>,
  pdiplugin-mpi-openmpi <!nocheck>,
  pkg-config
Standards-Version: 4.5.0
Homepage: https://pdi.julien-bigot.fr/

Package: pdiplugin-decl-hdf5-serial
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: pdiplugin-decl-hdf5
Enhances: libpdi1
Description: Decl'HDF5 plugin for the PDI Data Interface
 The Decl'HDF5 PDI plugin enables one to read and write data from HDF5 files in
 a declarative way. Decl'HDF5 does not support the full HDF5 feature set but
 offers a simple declarative interface to access a large subset of it.

Package: pdiplugin-decl-hdf5-openmpi
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: pdiplugin-decl-hdf5
Enhances: libpdi1
Description: Decl'HDF5 plugin for the PDI Data Interface
 The Decl'HDF5 PDI plugin enables one to read and write data from HDF5 files in
 a declarative way. Decl'HDF5 does not support the full HDF5 feature set but
 offers a simple declarative interface to access a large subset of it.

Package: pdiplugin-decl-hdf5-mpich
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: pdiplugin-decl-hdf5
Enhances: libpdi1
Description: Decl'HDF5 plugin for the PDI Data Interface
 The Decl'HDF5 PDI plugin enables one to read and write data from HDF5 files in
 a declarative way. Decl'HDF5 does not support the full HDF5 feature set but
 offers a simple declarative interface to access a large subset of it.
