#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

include /usr/share/dpkg/architecture.mk
FLAVORS = serial openmpi mpich
PKG_VERSION := $(shell dpkg-parsechangelog -S version | sed 's/-.*//')

%:
	dh $@ --parallel -Dplugins/decl_hdf5

override_dh_auto_configure:  $(foreach flavor,$(FLAVORS),configure_$(flavor))
configure_%: FLAVOR=$(subst configure_,,$@)
configure_%: H5CC=h5pcc.$(FLAVOR)
configure_%: BUILD_HDF5_PARALLEL=ON
configure_serial: H5CC=h5cc
configure_serial: BUILD_HDF5_PARALLEL=OFF
configure_%:
	#TODO: -DBUILD_TESTING=ON when PDI issue #274 is fixed
	dh_auto_configure -Bbuild-$(FLAVOR) -- \
		-DBUILD_HDF5_PARALLEL=$(BUILD_HDF5_PARALLEL) \
		-DBUILD_TESTING=$(BUILD_HDF5_PARALLEL) \
		-DHDF5_C_COMPILER_EXECUTABLE=/usr/bin/$(H5CC) \
		-DINSTALL_PDIPLUGINDIR=/usr/lib/$(DEB_HOST_MULTIARCH)/pdi/plugins_$(PKG_VERSION)/$(FLAVOR) \
		-DCMAKE_BUILD_TYPE=Release

define installdeb
override_dh_installdeb: debian/pdiplugin-decl-hdf5-$(1).$(2)
debian/pdiplugin-decl-hdf5-$(1).$(2): debian/pdiplugin-decl-hdf5-FLAVOR.$(2)
	# dh_installdeb -D is not available with debhelper 9, we use sed
	sed \
		-e 's/#ARCH_DEFAULT_MPI_IMPL#/$(ARCH_DEFAULT_MPI_IMPL)/g' \
		-e 's/#FLAVOR#/$(1)/g' \
		-e 's/#PKG_VERSION#/$(PKG_VERSION)/g' \
		$$< > $$@

endef
$(eval $(foreach suffix,prerm postinst,$(foreach flavor,$(FLAVORS),$(call installdeb,$(flavor),$(suffix)))))
override_dh_installdeb:
	dh_installdeb

override_dh_auto_build: $(foreach flavor,$(FLAVORS),build_$(flavor))
build_%: FLAVOR=$(subst build_,,$@)
build_%:
	dh_auto_build -Bbuild-$(FLAVOR)

override_dh_auto_test:  $(foreach flavor,$(FLAVORS),install_$(flavor))
test_%: FLAVOR=$(subst install_,,$@)
test_%:
	dh_auto_test -Bbuild-$(FLAVOR)

override_dh_auto_install:  $(foreach flavor,$(FLAVORS),install_$(flavor))
install_%: FLAVOR=$(subst install_,,$@)
install_%:
	dh_auto_install -Bbuild-$(FLAVOR)
