Source: libparaconf
Section: libdevel
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 9), cmake (>= 3.5), pkg-config, libyaml-dev
Standards-Version: 4.5.0
Homepage: https://gitlab.maisondelasimulation.fr/jbigot/libparaconf

Package: libparaconf0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: provide a simple query language to access a Yaml tree on top of libyaml
 Paraconf is a library that provides a simple query language to
 access a Yaml tree on top of libyaml.

Package: libparaconf-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libparaconf0 (= ${binary:Version}), libyaml-dev
Recommends: cmake (>= 3.5), pkg-config
Description: Development files for libparaconf
 The libparaconf-dev package contains C/C++ header files for developing
 applications that use libparaconf.
