#!/usr/bin/make -f

# export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -latomic

ifneq (,$(filter bionic, $(DEB_BUILD_PROFILES)))
	CMAKEFLAGS += -DFMT_TEST=OFF
else
	ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS) $(DEB_BUILD_PROFILES)))
		CMAKEFLAGS += -DFMT_TEST=OFF
	endif
endif
%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure --parallel -- \
		-DCMAKE_POSITION_INDEPENDENT_CODE=ON \
		-DFMT_DOC=OFF \
		-DBUILD_SHARED_LIBS=ON \
		$(CMAKEFLAGS) \
		-DCMAKE_BUILD_TYPE=Release

override_dh_install:
