Source: pdi
Section: libs
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 9), cmake (>= 3.5), pkg-config, libparaconf-dev (>= 0.4.0), libspdlog-dev (>= 1:1.3.1), libgtest-dev (>= 1.8), libgmock-dev (>= 1.8)
Standards-Version: 4.5.0
Homepage: https://pdi.julien-bigot.fr/

Package: libpdi0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: the Portable Data Interface library
 PDI is a library that aims to decouple high-performance simulation
 codes from Input/Output concerns.

Package: libpdi-dev
Architecture: any
Section: libs
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, libpdi0 (= ${binary:Version}), libparaconf-dev (>= 0.4.0), libspdlog-dev (>= 1.3.1)
Description: Development files for pdi
 The pdi-dev package contains C/C++ header files for developing
 applications or plugins that use pdi.
