#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

ifeq (,$(filter bionic, $(DEB_BUILD_PROFILES)))
	DHFLAGS += --with fortran_mod
endif
FC := $(shell basename $(shell readlink -f /usr/bin/gfortran))
FMODDIR := /usr/lib/$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)/fortran/$(FC)

%:
	dh $@ --parallel $(DHFLAGS)

override_dh_auto_configure:
	dh_auto_configure --parallel -D paraconf -- \
		"-DINSTALL_FMODDIR=$(FMODDIR)" \
		"-DINSTALL_FINCLUDEDIR=$(FMODDIR)" \
		-DCMAKE_BUILD_TYPE=Release
