Source: pdiplugin-user-code
Section: libs
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 9), cmake (>= 3.5), libpdi-dev (= ${source:Version})
Standards-Version: 4.5.0
Homepage: https://pdi.julien-bigot.fr/

Package: pdiplugin-user-code
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: user-code plugin for the Portable Data Interface library
 The PDI user-code plugin enables one to call a user-defined function when a
 specified event occur or certain data becomes available.
