#!/usr/bin/make -f

export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -D plugins/user_code -- \
		-DBUILD_TESTING=OFF \ # TODO: Enable, currently disabled to support older distribs without gtest/gmock
		-DCMAKE_BUILD_TYPE=Release
