Source: pdiplugin-decl-hdf5-openmpi
Section: libs
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 9), cmake (>= 3.5), pkg-config, libpdi-dev, libhdf5-openmpi-dev (>= 1.8)
#Build-Depends: libgtest-dev (>= 1.8), libgmock-dev (>= 1.8) # TODO: Enable, currently disabled to support older distribs without these
Standards-Version: 4.5.0
Homepage: https://pdi.julien-bigot.fr/

Package: pdiplugin-decl-hdf5-openmpi
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: pdiplugin-decl-hdf5
Enhances: libpdi0
Description: Decl'HDF5 plugin for the Portable Data Interface library
 The Decl'HDF5 PDI plugin enables one to read and write data from HDF5 files in
 a declarative way. Decl'HDF5 does not support the full HDF5 feature set but
 offers a simple declarative interface to access a large subset of it.
