#!/usr/bin/make -f

# export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -latomic

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure --parallel -- \
		-DCMAKE_INSTALL_LIBDIR=/usr/lib/$(shell dpkg-architecture -qDEB_HOST_MULTIARCH) \
		-DSPDLOG_BUILD_SHARED=ON \
		-DSPDLOG_BUILD_EXAMPLE=ON \
		-DSPDLOG_BUILD_EXAMPLE_HO=OFF \
		-DSPDLOG_BUILD_TESTS=ON \
		-DSPDLOG_BUILD_TESTS_HO=OFF \
		-DCMAKE_BUILD_TYPE=Release
