Source: zpp
Section: unknown
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 11), dh-python,
  python3-all,
  python3-setuptools
Standards-Version: 4.4.1
Homepage: https://github.com/jbigot/zpp
X-Python3-Version: >= 3.0

Package: zpp
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: the Z Pre-Processor
 Zpp transforms bash in a pre-processor for F90 source files. It offers a set of
 functions specifically tailored to build clean Fortran90 interfaces by
 generating code for all types, kinds, and array ranks supported by a given
 compiler.
