Source: pdiplugin-flowvr
Section: libs
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 9),
  cmake (>= 3.5),
  pkg-config,
  flowvr,
  freeglut3-dev,
  libglx-dev,
  libpdi-dev,
  mesa-common-dev,
  python3-yaml
Standards-Version: 4.5.0
Homepage: https://pdi.julien-bigot.fr/

Package: pdiplugin-flowvr
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: libpdi0
Description: FlowVR plugin for the PDI Data Interface
  The PDI FlowVR plugin supports application coupling through the FlowVR software.
