#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	. /opt/flowvr/bin/flowvr-suite-config.sh && \
	dh $@ --parallel

override_dh_auto_configure:
	#TODO: -DBUILD_TESTING=ON when PDI issue #276 is fixed
	. /opt/flowvr/bin/flowvr-suite-config.sh && \
	dh_auto_configure --parallel -D plugins/flowvr -- \
		-DBUILD_TESTING=OFF \
		-DCMAKE_BUILD_TYPE=Release
