Source: pdiplugin-mpi
Section: libs
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 9), cmake (>= 3.5), pkg-config, libpdi-dev, mpi-default-dev
Standards-Version: 4.5.0
Homepage: https://pdi.julien-bigot.fr/

Package: pdiplugin-mpi
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MPI plugin for the Portable Data Interface library
 The PDI mpi plugin interfaces PDI with MPI.
