#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

include /usr/share/dpkg/architecture.mk

ifneq (,$(filter stretch xenial bionic disco, $(DEB_BUILD_PROFILES)))
	CMAKEFLAGS += -DBUILD_TESTING=OFF
else
	CMAKEFLAGS += -DBUILD_TESTING=OFF # tests currently fails because of incorrectly set ENV
endif

FLAVORS = openmpi mpich

PKG_VERSION := $(shell dpkg-parsechangelog -S version | sed 's/-.*//')

%:
	dh $@ --parallel -D plugins/mpi

override_dh_auto_configure:  $(foreach flavor,$(FLAVORS),configure_$(flavor))

configure_openmpi:
	dh_auto_configure -Bbuild-openmpi -- \
		-DMPI_C_COMPILER=mpicc.openmpi \
		-DMPI_CXX_COMPILER=mpicxx.openmpi \
		-DINSTALL_PDIPLUGINDIR=/usr/lib/$(DEB_HOST_MULTIARCH)/pdiplugin-mpi-openmpi/pdi/plugins_$(PKG_VERSION)/ \
		$(CMAKEFLAGS) \
		-DCMAKE_BUILD_TYPE=Release

configure_mpich:
	dh_auto_configure -Bbuild-mpich -- \
		-DMPI_C_COMPILER=mpicc.mpich \
		-DMPI_CXX_COMPILER=mpicxx.mpich \
		-DINSTALL_PDIPLUGINDIR=/usr/lib/$(DEB_HOST_MULTIARCH)/pdiplugin-mpi-mpich/pdi/plugins_$(PKG_VERSION)/ \
		$(CMAKEFLAGS) \
		-DCMAKE_BUILD_TYPE=Release

# dh_installdeb -D is not available with debhelper 9
dh_installdeb: pdiplugin-mpi-mpich.postinst pdiplugin-mpi-mpich.prerm pdiplugin-mpi-openmpi.postinst pdiplugin-mpi-openmpi.prerm

%: %.tpl
	sed 's/#PKG_VERSION#/$(PKG_VERSION)/g' $< > $@

override_dh_auto_build: $(foreach flavor,$(FLAVORS),build_$(flavor))
build_%: build-%
	dh_auto_build -B$<

override_dh_auto_install:  $(foreach flavor,$(FLAVORS),install_$(flavor))
install_%: build-%
	dh_auto_install -B$<
