Source: pdiplugin-pycall
Section: libs
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 9),
  cmake (>= 3.5),
  libpdi-dev,
  pkg-config
Standards-Version: 4.5.0
Homepage: https://pdi.julien-bigot.fr/

Package: pdiplugin-pycall
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: libpdi1
Description: Pycall plugin for the PDI Data Interface
  The PDI pycall plugin enables one to call a user-defined python function when
  a specified event occur or certain data becomes available.
