#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure --parallel -D plugins/pycall -- \
		-DPython3_EXECUTABLE=/usr/bin/python3 \
		-DCMAKE_BUILD_TYPE=Release
