Source: pdiplugin-decl-netcdf
Section: libs
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper-compat (= 13),
  cmake (>= 3.16.3),
  libnetcdf-dev (>= 4.7.3),
  libnetcdf-mpi-dev (>= 4.7.3) <disabled>,
  libpdi-dev,
  pkg-config,
  mpi-default-dev,
  mpi-default-bin <!nocheck>,
  pdiplugin-mpi-openmpi <!nocheck disabled>
Standards-Version: 4.5.0
Homepage: https://pdi.dev/

Package: pdiplugin-decl-netcdf-serial
Architecture: any
Section: libs
Depends: dpkg-dev, ${shlibs:Depends}, ${misc:Depends}
Provides: pdiplugin-decl-netcdf
Enhances: libpdi1
Description: Decl'NetCDF plugin for the PDI Data Interface
 The Decl'NetCDF PDI plugin enables one to read and write data from NetCDF files in
 a declarative way. Decl'NetCDF does not support the full NetCDF feature set but
 offers a simple declarative interface to access a large subset of it.

#TODO: Depend on libblosc-dev due to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1019055
#TODO: Disabled until https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=977545
Package: pdiplugin-decl-netcdf-mpi
Build-Profiles: <disabled>
Architecture: any
Section: libs
Depends: dpkg-dev, ${shlibs:Depends}, ${misc:Depends}
Provides: pdiplugin-decl-netcdf
Enhances: libpdi1
Description: Decl'NetCDF plugin for the PDI Data Interface
 The Decl'NetCDF PDI plugin enables one to read and write data from NetCDF files in
 a declarative way. Decl'NetCDF does not support the full NetCDF feature set but
 offers a simple declarative interface to access a large subset of it.
