#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

include /usr/share/dpkg/architecture.mk
include /usr/share/mpi-default-dev/debian_defaults
PKG_VERSION := $(shell dpkg-parsechangelog -S version | sed 's/-.*//')
FLAVORS = $(shell dh_listpackages | grep '^pdiplugin-decl-netcdf-' | sed 's/^pdiplugin-decl-netcdf-//')
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS) $(DEB_BUILD_PROFILES)))
	CMAKEFLAGS += -DBUILD_TESTING=OFF
endif


%:
	dh $@

override_dh_auto_clean:
	set -e; for FLAVOR in $(FLAVORS) ;\
	do \
		dh_auto_clean -Bbuild-$${FLAVOR} -ppdiplugin-decl-netcdf-$${FLAVOR} ;\
	done

override_dh_auto_configure:
	set -e; for FLAVOR in $(FLAVORS) ;\
	do  \
		case "$${FLAVOR}" in \
		serial) \
			netCDF_DIR=netCDF ;\
			INSTALL_PDIPLUGINDIR=serial ;\
			BUILD_NETCDF_PARALLEL=OFF ;\
		;;\
		mpi) \
			netCDF_DIR=netCDF_mpi ;\
			INSTALL_PDIPLUGINDIR=$(ARCH_DEFAULT_MPI_IMPL) ;\
			BUILD_NETCDF_PARALLEL=ON ;\
		;;\
		*) exit 1 ;;\
		esac ;\
		dh_auto_configure -D plugins/decl_netcdf -Bbuild-$${FLAVOR} -ppdiplugin-decl-netcdf-$${FLAVOR} -- \
			-DBUILD_NETCDF_PARALLEL=$${BUILD_NETCDF_PARALLEL} \
			-DCMAKE_BUILD_TYPE=Release \
			-DINSTALL_PDIPLUGINDIR=/usr/lib/$(DEB_HOST_MULTIARCH)/pdi/plugins_$(PKG_VERSION)/$${INSTALL_PDIPLUGINDIR} \
			-DMPI_C_COMPILER=mpicc.$(ARCH_DEFAULT_MPI_IMPL) \
			-DMPI_CXX_COMPILER=mpicxx.$(ARCH_DEFAULT_MPI_IMPL) \
			-DMPI_Fortran_COMPILER=mpif90.$(ARCH_DEFAULT_MPI_IMPL) \
			-DMPIEXEC_EXECUTABLE=/usr/bin/mpiexec.$(ARCH_DEFAULT_MPI_IMPL) \
			-DnetCDF_DIR=/usr/lib/x86_64-linux-gnu/cmake/$${netCDF_DIR} \
			$(CMAKEFLAGS) ;\
	done

override_dh_auto_build:
	set -e; for FLAVOR in $(FLAVORS) ;\
	do \
		dh_auto_build -Bbuild-$${FLAVOR} -ppdiplugin-decl-netcdf-$${FLAVOR} ;\
	done

override_dh_auto_install:
	set -e; for FLAVOR in $(FLAVORS) ;\
	do \
		dh_auto_install -Bbuild-$${FLAVOR} -ppdiplugin-decl-netcdf-$${FLAVOR} ;\
	done

override_dh_auto_test:
	export OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 OMPI_MCA_rmaps_base_oversubscribe=1 ;\
	set -e; for FLAVOR in $(FLAVORS) ;\
	do \
		export PDI_PLUGIN_PATH=/usr/lib/$(DEB_HOST_MULTIARCH)/pdi/plugins_$(PKG_VERSION)/$$([ "$${FLAVOR}" = serial ] && echo serial || echo $(ARCH_DEFAULT_MPI_IMPL) ) ;\
		dh_auto_test -ppdiplugin-decl-netcdf-$${FLAVOR} ;\
	done

override_dh_installdeb:
	set -e; for FLAVOR in $(FLAVORS) ; do for SUFFIX in prerm postinst ;\
		do cp debian/pdiplugin-decl-netcdf-FLAVOR.$${SUFFIX} debian/pdiplugin-decl-netcdf-$${FLAVOR}.$${SUFFIX} ;\
	done; done
	dh_installdeb \
		-D PKG_VERSION=$(PKG_VERSION) \
		-ppdiplugin-decl-netcdf-mpi \
		-ppdiplugin-decl-netcdf-serial
