Source: sionlib
Section: libdevel
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 9), dh-exec,
  libmpich-dev,
  libopenmpi-dev,
  mpi-default-dev,
  mpich,
  openmpi-bin
Standards-Version: 4.5.0
Homepage: https://www.fz-juelich.de/ias/jsc/EN/Expertise/Support/Software/SIONlib/_node.html


Package: libsion-headers
Architecture: all
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libsion-dev
Description: a parallel input output library, OpenMPI version
 SIONlib is a library for writing and reading binary data to/from several
 thousands of processors into one or a small number of physical files. For
 parallel access to files only the open and close functions are collective while
 writing and reading file can be done asynchronously. SIONlib provides a SIONlib
 file handle which substitutes the C file pointer.


Package: libsion-openmpi-dev
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends},
  libsion-headers (= ${binary:Version}),
  openmpi-bin, libopenmpi-dev
Provides: libsion-dev
Description: a parallel input output library, OpenMPI version
 SIONlib is a library for writing and reading binary data to/from several
 thousands of processors into one or a small number of physical files. For
 parallel access to files only the open and close functions are collective while
 writing and reading file can be done asynchronously. SIONlib provides a SIONlib
 file handle which substitutes the C file pointer.


Package: libsion-mpich-dev
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends},
  libsion-headers (= ${binary:Version}),
  mpich, libmpich-dev
Description: a parallel input output library, OpenMPI version
 SIONlib is a library for writing and reading binary data to/from several
 thousands of processors into one or a small number of physical files. For
 parallel access to files only the open and close functions are collective while
 writing and reading file can be done asynchronously. SIONlib provides a SIONlib
 file handle which substitutes the C file pointer.


Package: libsion-serial-dev
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends},
  libsion-headers (= ${binary:Version}),
  mpich, libmpich-dev
Description: a parallel input output library, OpenMPI version
 SIONlib is a library for writing and reading binary data to/from several
 thousands of processors into one or a small number of physical files. For
 parallel access to files only the open and close functions are collective while
 writing and reading file can be done asynchronously. SIONlib provides a SIONlib
 file handle which substitutes the C file pointer.
