#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

include /usr/share/dpkg/architecture.mk

FLAVORS = openmpi mpich

PKG_VERSION := $(shell dpkg-parsechangelog -S version | sed 's/-.*//')

%:
	dh $@ --parallel

override_dh_auto_configure:  $(foreach flavor,$(FLAVORS),configure_$(flavor))

configure_openmpi:
	dh_auto_configure -Bbuild-openmpi -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_INCLUDEDIR=include/fti/openmpi/ \
		-DCMAKE_INSTALL_LIBDIR=lib/$(DEB_HOST_MULTIARCH)/fti/openmpi/ \
		-DENABLE_OPENSSL=ON \
		-DINSTALL_CMAKEDIR=/usr/share/FTI/openmpi/cmake \
		-DMPI_C_COMPILER=/usr/bin/mpicc.openmpi

configure_mpich:
	dh_auto_configure -Bbuild-mpich -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_INCLUDEDIR=include/fti/mpich/ \
		-DCMAKE_INSTALL_LIBDIR=lib/$(DEB_HOST_MULTIARCH)/fti/mpich/ \
		-DENABLE_OPENSSL=ON \
		-DINSTALL_CMAKEDIR=/usr/share/FTI/mpich/cmake \
		-DMPI_C_COMPILER=/usr/bin/mpicc.mpich

# dh_installdeb -D is not available with debhelper 9
dh_installdeb: libfti1-mpich.postinst libfti1-mpich.prerm libfti1-openmpi.postinst libfti1-openmpi.prerm

%: %.tpl
	sed 's/#PKG_VERSION#/$(PKG_VERSION)/g' $< > $@

override_dh_auto_build: $(foreach flavor,$(FLAVORS),build_$(flavor))
build_%: build-%
	dh_auto_build -B$<

override_dh_auto_install:  $(foreach flavor,$(FLAVORS),install_$(flavor))
install_%: build-%
	dh_auto_install -B$<
