Source: pdiplugin-set-value
Section: libs
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 9), cmake (>= 3.5), pkg-config, libpdi-dev
Standards-Version: 4.5.0
Homepage: https://pdi.julien-bigot.fr/

Package: pdiplugin-set-value
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: libpdi1
Description: Set Value plugin for the PDI Data Interface
 The PDI Set Value plugin supports setting PDI metadata values from PDI itself.
