Source: pdiplugin-serialize
Section: libs
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 11),
  cmake (>= 3.10),
  libgmock-dev (>= 1.8) <!bionic !nocheck>,
  libgtest-dev (>= 1.8) <!bionic !nocheck>,
  libpdi-dev,
  pkg-config
Standards-Version: 4.5.0
Homepage: https://pdi.julien-bigot.fr/

Package: pdiplugin-serialize
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: libpdi1
Description: Serialize plugin for the PDI Data Interface
 The PDI serialize plugin supports serialization of complex types into a
 representation all I/O libraries should support.
