Source: flowvr
Section: libdevel
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 9),
  c++-compiler,
  cmake (>= 3.0),
  doxygen,
  freeglut3-dev,
  libgraphviz-dev,
  libglew-dev,
  libgraphviz-dev,
  libhwloc-dev,
  libopenmpi-dev,
  libqt4-dev <!focal !bullseye !sid>,
  libqt4-opengl-dev <!focal !bullseye !sid>,
  libxi-dev,
  libxml2-dev,
  libxmu-dev,
  libxslt1-dev,
  mesa-common-dev,
  python3-dev,
  qt4-default <!focal !bullseye !sid>,
  swig
Standards-Version: 4.5.0
Homepage: http://flowvr.sourceforge.net/

Package: flowvr
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: eases development and execution of high performance interactive applications
 FlowVR is a middleware library that eases development and execution of high
 performance interactive applications requiring to harness the power of
 computing nodes distributed in a cluster or grid. FlowVR has been used for
 virtual reality application, telepresence, multi-camera real-time 3D modeling,
 in situ visualization, steering of parallel molecular dynamics applications,
 etc. FlowVR reuses and extends the data flow paradigm commonly used for
 scientific visualization environments. An application is seen as a set of
 possibly distributed modules exchanging data. Different module assemblies can
 be specified without modification or recompilation of the modules. The
 application developper does not have to bother about networking issues. That's
 the job of FlowVR to manage and optimize data exchanges between modules. FlowVR
 supports parallel modules, enabling to harness existing MPI codes for instance.
 This feature is commonly used for in-situ visualization or computational
 steering.
