Source: bpp
Section: unknown
Priority: optional
Maintainer: Julien Bigot <julien.bigot@cea.fr>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools
Standards-Version: 4.4.1
Homepage: https://github.com/pdidev/bpp
X-Python3-Version: >= 3.0

Package: bpp
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: A Bash pre-processor originally intended for Fortran
 This is BPP, the Bash Pre-Processor.
 .
 BPP is useful in order to build clean Fortran90 interfaces.
 It allows to generate Fortran code for all types, kinds,
 and array ranks supported by the compiler.
