#!/usr/bin/make -f

# export DH_VERBOSE = 1

PKG = $(shell dpkg-parsechangelog -S Source)
VERSION = $(shell dpkg-parsechangelog -S Version)
SRCVERSION = $(shell echo $(VERSION) | sed -e 's/^[0-9]*://' -e 's/-[^-]*$$//')

%:
	dh $@ --with python3 --buildsystem=pybuild

debian/control: ../$(PKG)-$(SRCVERSION)
debian/%: debian/%.in
	m4 $(M4FLAGS) $< > $@

../$(PKG)-$(SRCVERSION): ../$(PKG)_$(SRCVERSION).orig.tar.gz
	tar -k --strip-components=1 -xf $<

../$(PKG)_$(SRCVERSION).orig.tar.gz:
	curl -L https://github.com/pdidev/$(PKG)/archive/v$(SRCVERSION).tar.gz -o $@
